name: Primer workflow

on:
  push:
    branches:
      - main
      - featurex

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Bajar c贸digo
        uses: actions/checkout@v5

      - name: Probar c贸digo
        run: python3 main.py

  build_push:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Bajar c贸digo
        uses: actions/checkout@v5

      - name: Probar c贸digo
        run: python3 main.py
        
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ibaio
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ibaio/app:latest
